<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MusicPaste, Awesome, embeddable music TABs and scores with sound synthesis</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
    .editable {
        width:95%;
        height: 100%;
        border-style: solid;
        border-width: 1px;
        
    }
    .editable:hover {
        background-color:#eeeeee;
    } 
    </style>
</head>

<body >
    <!--<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#home">MusicPaste</a>
            </div>
        </div>
    </nav>-->
    <br/>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
            
                <h1 class="page-header">
                    <a href='/'>MusicPaste</a>
                    <small>The easiest way to create and share music</small>
                </h1>
                <div class="input-group">
                    <div class="col-lg-4 col-md-4 ">
                        <div class="input-group">
                          <span class="input-group-addon">Title</span>
                          <input type="text" class="form-control" placeholder="Title">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon">Your name</span>
                          <input type="text" class="form-control" placeholder="Your Name">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 ">
                        <div class="input-group">
                          <span class="input-group-addon">Description</span>
                          <textarea type="text" class="form-control" placeholder="Some description">
                          Some description here
                          </textarea>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 ">
                        <button type="button" class="btn btn-default btn-lg">
                          <span class="fa fa-save fa-fw"></span> Save & <span class="fa fa-share fa-fw"></span> Share 
                        </button>
                    </div>
                </div>

            </div>

        </div>
        <hr>
        
        <div class="row" ng-app="MusicPaste">
            <div ng-controller="vextabController">

                <div class="col-lg-7 col-md-7">
                        <div>
                            <div class="col-lg-6 col-md-6">
                                <a class="btn btn-default btn-lg" ng-click="play()">
                                    <i class="fa fa-play fa-fw"></i>
                                    <span class="network-name">Play</span>
                                </a>
                                <a class="btn btn-default btn-lg" ng-click="stop()">
                                    <i class="fa fa-stop fa-fw"></i>
                                    <span class="network-name">Stop</span>
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6">
                            <!--Select your instrument:--> 
                                <select ng-model="selectedTempo" ng-change="onSelectTempo(selectedTempo)" ng-options="tempo for tempo in tempos"></select>
                                <select ng-model="selectedInstrument" ng-change="onSelectInstrument(selectedInstrument)" ng-options="instrument for instrument in instruments"></select>
                            </div>
                        </div>
                        <div>
                            <div data-vextab-paper="vextabText">
                            </div>
                        </div>
                </div>

                <div class="col-lg-5 col-md-5" >
                    <div>
                          Edit the text below:
                        <!--<div class="col-lg-4 col-md-4 ">
                        <button type="button" class="btn btn-default btn-lg" ng-click="save()">
                          <span class="fa fa-save fa-fw"></span> Save & <span class="fa fa-share fa-fw"></span> Share 
                        </button>
                        </div>-->
                    </div>

                    <div >
                        <textarea ng-model="vextabText" class="editor editable" rows="30" columns="40"></textarea>

                    </div>
                    
                </div>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="musicpaste.com"> MusicPaste</a> 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script> <!-- TODO update version-->
    <!--<script src="js/bootstrap.min.js"></script>-->
    <script src="js/underscore-min.js"></script>
    
    
    
    <script src="js/angular.min.js"></script>
    <!--<script src="js/angular-route.js"></script>-->
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    
        <!-- Base64 - for midi font loading-->
    <script src="js/base64-binary.js"></script>
    <!-- Paper JS - for midi player graphics-->
    <script src="js/paper-core.min.js"></script>

    <script src="js/MIDI.js"></script>
        
    <script src="js/vexflow-min.js"></script>
    
    <script src="js/tabdiv-debug.js"></script>
    
    <script src="js/musicpaste.js"></script>


</body>

</html>
