{% extends "musicapp/base_score.html" %}

    {% block content %}
        {% block sheet-all %}
        <div class="row" ng-app="MusicPaste">
            <div ng-controller="vextabController" ng-init="initText('{{sheet.content}}')">
                {% block sheet-display-all%}
                <div class="col-lg-12 col-md-12  col-sm-12">
                        {% block sheet-display-controls %}
                        <div>
                            <div class="col-lg-6 col-md-6  col-sm-6">
                                <strong >  {{sheet.title}}  </strong> by: {{sheet.name}}
                                
                                <a class="btn btn-default btn-sm" ng-click="play()">
                                    <i class="fa fa-play fa-fw"></i>
                                </a>
                                <a class="btn btn-default btn-sm" ng-click="stop()">
                                    <i class="fa fa-stop fa-fw"></i>
                                </a>
                                
                            <!--Select your instrument:--> 
                                BPM: <select ng-model="selectedTempo" ng-change="onSelectTempo(selectedTempo)" ng-options="tempo for tempo in tempos"></select>
                                <select ng-model="selectedInstrument" ng-change="onSelectInstrument(selectedInstrument)" ng-options="instrument for instrument in instruments"></select>
                                <br/>
                                <small> Made with: &copy; <a href="http://musicpaste.com"> MusicPaste</a></small>
                        </div>
                        {% endblock %}
                        {% block sheet-display %}
                        <div>
                            <div data-vextab-paper="vextabText">
                            </div>
                        </div>
                        <div>
                            {{sheet.description}}
                        </div>
                        {% endblock %}
                </div>
                {% endblock %}
                {% block sheet-input %}
                <div ng-show="false" >
                    <div >
                        <textarea ng-model="vextabText" >{{sheet.content}}</textarea>
                    </div>
                    
                </div>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
