{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Music scores, music sheets, midi, music synthesis, music blog post, music embed">
    <meta name="author" content="Leo Panigo">

    <title>MusicPaste, Awesome, embeddable music TABs and scores with sound synthesis</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'musicapp/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{% static 'musicapp/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel='stylesheet' type='text/css'>

    <!-- Add custom CSS here -->
    <link href="{% static 'musicapp/css/landing-page.css' %}" rel="stylesheet">

</head>

<body>

    <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://musicpaste.com">MusicPaste</a>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a>
                    </li>
                    <li><a href="#services">Services</a>
                    </li>
                    <li><a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>-->

    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>MusicPaste</h1>
                        <h2>FREE and easy tool to write and share music</h2>
                        <br/>
                        <!--<h3>Scores and TABs that can actually PLAY</h3>
                        <br/>
                        <h3>Share on your own blog or site!</h3>-->
                        <br/>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="{% url 'edit_score' %}" class="btn btn-default btn-lg"><i class="fa fa-play fa-fw"></i> <span class="network-name">Create NOW - FREE!</span></a>
                            </li>
                            <!--<li><a href="# list posts page" class="btn btn-default btn-lg"><i class="fa fa-search fa-fw"></i> <span class="network-name">Search posts</span></a>
                            </li>-->
                        </ul>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <p style="text-align:right;">
                        <small >
                        Image by: <a href="https://www.flickr.com/photos/sigfridlundberg/8237819542" >Sigfrid Lundberg</a> with <a href="https://creativecommons.org/licenses/by-sa/2.0/" >CC Licence</a>
                        </small>
                        </p >
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Beautiful & Easy to write:
                        <br>Score and TAB support</h2>
                    <p class="lead">Simple text syntax that allows fast writing, all the available examples will show you all you need to know.</p>
                    <p class="lead">Display updates as you write!</p>
                    <a href="{% url 'edit_score' %}" class="btn btn-default btn-lg"><i class="fa fa-play fa-fw"></i> <span class="network-name">Start NOW - FREE!</span></a>
                    
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <!-- TODO include screenshot here -->
                    <img class="img-responsive" src="/static/musicapp/img/complex_tab.png" alt="Score and TAB ">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sound synthesis included!
                        <!--<br>For FREE</h2>-->
                    <p class="lead">You write your TAB or score, and when you see the results, it can actually play! </p>
                    <a href="{% url 'edit_score' %}" class="btn btn-default btn-lg"><i class="fa fa-play fa-fw"></i> <span class="network-name">Start NOW - FREE!</span></a>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/static/musicapp/img/instrument_select.png" alt="Instrument Selection">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Embed everywhere:
                        <br>In your blog posts or site!</h2>
                    <p class="lead">Use them where you need them. Blog or Site, you will receive an email with your embed codes, and it's up to you to use it where you need!</p>
                    <a href="{% url 'edit_score' %}" class="btn btn-default btn-lg"><i class="fa fa-play fa-fw"></i> <span class="network-name">Start NOW - FREE!</span></a>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/static/musicapp/img/embed_demo.png" alt="Embed Demo">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <!--<div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">All for guitars:
                        <br>Fretboard and Chord display!</h2>
                    <p class="lead">You write your TAB or score, and when you see the results, it can actually play! </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/doge.png" alt="">
                </div>
            </div>

        </div>
    </div>-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; <a href="musicpaste.com"> MusicPaste</a> 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'musicapp/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'musicapp/js/bootstrap.js' %}"></script>

</body>

</html>
